@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  /* --main-color: #B6BEBA; */
  --main-color: #3C424A;
}

body {
  background-color: #242A2B;
  color: rgb(236, 232, 232);
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: rgb(236, 232, 232);
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 5px;
}

input {
  outline:none;
  border: 0;
  border: none;
}

input::placeholder {
  color: #5c626b;
  letter-spacing: .05em;
  font-size: 16px;
}



/** End Main Block */
.container_block {
  margin: 0 auto;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  min-width: 310px;
  height: 160px;
  background: var(--main-color);
  border-radius: 5px;
}

.title {
  min-width: 280px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  background: #303A3C;
  border-radius: 5px;
}

.form_group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.input_group {
  margin-right: 20px;
  padding: 2px 7px;
  width: 150px;
  height: 40px;
  background: #303A3C;
  border-radius: 5px;
  color: #fff;
}


.btn_group {
  font-size: 16px;
  font-weight: 400;
  width: 110px;
  height: 40px;
  background: #303A3C;
  border-radius: 5px;
  transition: color .2s;
}

.btn_group:hover {
  color: rgb(121, 211, 184);
  transition: color .2s;
}

.transparent_block {
  background-color: transparent;
  max-width: 600px;
  min-width: 120px
}
.transparent_block:hover .link_block {
  transform: scale(0.9);
  transition: all .2s;
}

.link_block {
  padding: 20px 0;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
  max-width: 600px;
  min-height: 120px;
  background: var(--main-color);
  border-radius: 5px;
  transition: all .2s;
}

.link {
  padding: 5px 10px;
  font-size: 26px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  min-height: 80px;
  background: #303A3C;
  border-radius: 5px;
  transition: width .2s;
}

.link_text {
  text-align: center;
  width: 100%;
  height: 200%;
  word-wrap: break-word;
  transition: color .2s;
}

.delete_link {
  width: 30px;
  height: 30px;
  background: #303A3C;
  background-image: url('./img/cross.png');
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px 8px;
  position: absolute;
  right: -3px;
  top: -3px;
  transition: background-image .2s;
}
.delete_link:hover {
  background-image: url('./img/crossred.png');
  transition: all .2s;
}
.delete_link button {
  width: 100%;
  height: 100%;
}

.percent_link {
  font-family: 'Roboto', sans-serif;
  transition: color .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 60px;
  border-radius: 3px;
  height: 30px;
  background-color: #303A3C;
  font-size: 18px;
  font-weight: 300;
}

.title_create {
  max-width: 320px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
}
.title_create h2 {
  font-weight: 400;
  letter-spacing: 0.09em;
}
/*! End Main Block */


/** Start todoList Block */
.container_items {
  max-width: 600px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.container_items_active {
  flex-direction: column;
}

.container_todolist {
  margin: 0 auto;
  padding: 25px 0px;
  position: relative;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* min-width: 310px; */
  max-width: 600px;
  /* min-height: 130px; */
  height: auto;
  background: var(--main-color);
  border-radius: 10px;
}

.container_todolist_hide {
  display: none;
}

.hide_menu {
  display: none;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  height: auto;
  background-color: var(--main-color);
  border-radius: 10px 10px 0 0;
  margin-bottom: 15px;
}
.hide_menu_active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hideActive {
  background-color: #303A3C;
  /* background-image: url('./img/hide.png'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 14px;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 0 25%;
  transition: background-image .2s;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .2s;
}

.hideActive:hover {
  background-color: #6D96FF;
  transition: all .2s;
}

.hide_imgActive {
  width: 20px;
  height: 15px;
}

.hide_clear {
  /* margin: 0 30px; */
  width: 150px;
  height: 30px;
  background-color: #303A3C;
  transition: color .2s;
}

.hide_clear:hover {
  transition: color .2s;
  color: #FF6D6D;
}

.hide_percent {
  font-family: 'Roboto', sans-serif;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  background-color: #303A3C;
}

.home {
  background: #303A3C;
  background-image: url('./img/arrow.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 14px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 25% 0px;
  transition: color .2s;
}

.home:hover {
  background-color: #6D96FF;
  transition: color .2s;
}

.home_link {
  opacity: 0;
  width: 100%;
  height: 100%;
}

.inner_todo {
  width: 300px;
  flex-wrap: wrap;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.percent_todo {
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  width: 60px;
  height: 30px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sorting {
  margin: 0 10px;
  margin-top: 5px;
  background-color: #303A3C;
  background-image: url("./img/sorting.svg");
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  border-radius: 3px;
  width: 60px;
  height: 30px;
  transition: background-color .2s;
}

.sorting:hover {
  background-color: #6D96FF;
  transition: all .2s;
}
.sorting_active {
  background-image: url("./img/sortingEnd.svg");
}

.delete_everything {
  transition: color .2s;
  border-radius: 3px;
  width: 147px;
  height: 30px;
  background-color: #303A3C;
}
.delete_everything:first-child {
  margin-right: 5px;
}
.delete_everything:hover {
  transition: color .2s;
  color: #FF6D6D;
}

.hide {
  margin-top: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  background-color: #303A3C;
  transition: background-color .2s;
}
.hide:hover {
  background-color: #6D96FF;
  transition: all .2s;
}
.hide_img {
  width: 20px;
  height: 19.31px;
}

.title_todolist {
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  width: 300px;
  min-height: 80px;
  background: #303A3C;
  border-radius: 5px;
}
.title_todolist h1 {
  width: 100%;
  font-weight: normal;
  font-size: 30px;
}

.form_todolist {
  margin-top: 10px;
  position: relative;
  width: 300px;
  height: 40px;
  background-color: #303A3C;
  border-radius: 5px;
}

.input_todolist {
  padding: 5px 10px;
  color: #fff;
  background-color: #303A3C;
  height: 100%;
  width: 200px;
  border-radius: 5px;
}

.btn_todolist {
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 10px;
  width: 40px;
  height: 30px;
  background-color: #454b53;
  border-radius: 5px;
  transition: color .2s;
}
.btn_todolist:hover {
  transition: all .2s;
  color: rgb(121, 211, 184);
}



.task_block {
  /* margin: 0 auto; */
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
 
  width: 100%;
  min-height: 100px;
  height: auto;
  background: var(--main-color);
  border-radius: 10px;
}

.block_active {
  opacity: .4;
}

.task_name {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 10px 10px;
  margin: 5px;
  width: 270px;
  min-height: 60px;
  background: #303A3C;
  border-radius: 7px;
}
.task_name span {
  word-wrap: break-word;
  display: block;
  width: 100%;
  height: 100%;
}

.task_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.task_performed {
  width: 25px;
  height: 25px;
  border: 2px solid #303A3C;
  border-radius: 2px;
  margin-bottom: 5px;
}

.active {
  background-image: url('./img/performed.png');
  background-size: 15px 15px;
  background-position: center;
  background-repeat: no-repeat;
}
.task_delete {
  background-image: url('./img/delete.png');
  background-repeat: no-repeat;
  background-size: 21px 25px;
  width: 21px;
  height: 25px;
  transition: background-image .2s;
}

.task_delete:hover {
  background-image: url('./img/deletered.png');
  transition: background-image .2s;
}




.performed {
  /* color: var(--main-color); */
  color: #979797;
  text-decoration: line-through;
}

/**! End todoList Block */

/** Start pop up **/
.pop-up {
  overflow: hidden;
  padding: 0 10px;
  width: 100px;
  height: 30px;
  opacity: 0;
  background-color: #303A3C;
  position: absolute;
  z-index: 100;
  top: -3px;
  left: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .2s;
  border-radius: 0 0px 8px 0;
}

.button-pop-up {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.popActive {
  top: -3px;
  left: 21px;
  transition: all .3s;
  opacity: 1;
}

.button_pop-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 8px 0px;
  top: -3px;
  left: -3px;
  background-color: #303A3C;
}

.pop-up_color {
  border-radius: 50%;

  width: 15px;
  height: 15px;
}

.pop-up_color_starting {
  background-color: var(--main-color);
}

.pop-up_color_red {
  background-color: #d14d4d;
}

.pop-up_color_blue {
  background-color: #4786ec;
}

.pop-up_color_green {
  background-color: #47ec94;
}

@media (max-width: 630px) {
  .hide_percent {
    width: 60px;
    margin: 0 10px;
  }
  .hide_clear {
    width: 120px;
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .hide_percent {
    width: 50px;
    margin: 0 5px;
  }
  .hide_clear {
    width: 120px;
    font-size: 13px;
  }
  .inner_todo {
    width: 250px;
  }
  .delete_everything {
    width: 115px;
    font-size: 13px;
  }
  
}

@media (max-width: 470px) {
  .hide_clear {
    display: none;
  }
}

@media (max-width: 450px) {
  .link {
    margin-top: 15px;
    width: 250px;
    min-height: 60px;
    font-size: 20px;
  }
  .transparent_block:hover .link_block {
    transform: scale(1);
    transition: all .2s;
  }
}

@media (max-width: 400px) {
  .title_todolist {
    width: 240px;
  }
  .title_todolist h1 {
    font-size: 25px;
  }
  .form_todolist {
    width: 240px;
  }
}

@media (max-width: 350px) {
  .title_todolist {
    max-width: 220px;
  }
}
